@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import "tailwindcss";

html {
  --default-font-family: "Kalam", cursive;
  --font-sans: "Kalam", cursive;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 80% !important;
  }
}

.form-container {
  @apply border-2 border-gray-400 rounded-xl p-6 space-y-4 max-w-md mx-auto;
}
